<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
     <nav id="navbar">
         <ul>
        
           <li class="item"><a href="/logout">logout</a></li>
           <li class="item"><a href="/secret">Secret</a></li>
           
          <ul>
    </nav>
    <section id="home">
        
    </section>
</body>
</html>